$color: #FFC436;
$backgroundcolor: black;
$theme-colors: (
    "outline-warning":#FFC436,
    );

#root {
    width: 80vw;
}
.index, .navbar {
    width: 100vw;
}

.movies-couch{
    color: $color;
    background-color: $backgroundcolor;
    width: 100vw;
    height: auto;
}

.main-view{
    color: $color;
    background-color: $backgroundcolor;
    justify-content: center;
    width: 100vw;
    height: auto;
}


.movie-view{
    color: $color;
    background-color: $backgroundcolor;
    width: 100vw;
    height: auto;
    margin-top: 20px;
}

.movie-card{
    color: $color;
    background-color: $backgroundcolor;
    width: 100%;
    height: auto;
    margin-top: 20px;
}
.movie-card-body {
    color: $color;
    background-color: $backgroundcolor;
    width: 100%;
    height: auto;
}

.login-view{
    color: $color;
    background-color: $backgroundcolor;

}

.favorite-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 50px;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (max-width: 425px) {
        grid-template-columns: 1fr;
        
    }
}

.signup-view{
    color: $color;
    background-color: $backgroundcolor;
}

.link_to{
    color: $color;
}


// Importing React Bootstrap utility classes
@import "node_modules/bootstrap/scss/bootstrap.scss";